.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 13px;
  background-color: #fff;

  @media (min-width: 768px) {
    margin-left: 32px;
    margin-right: 32px;
  }

  @media (min-width: 1024px) {
    margin-left: 60px;
    margin-right: 60px;
  }

  &__logo_container {
    display: flex;
    align-items: center;
  }

  &__button_container {
    display: flex;
    gap: 10px;
  }
}