.registration {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 100px;

  &__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    text-align: center;
    width: 320px;

    @media (min-width: 768px) {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-input_wrapper {
    margin-bottom: 25px;
  }

  &__form-input {
    display: block;

    height: 54px;
    width: 328px;

    margin-bottom: 50px;
    padding-left: 16px;

    border: 1px solid #D0CFCF;

    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    @media (min-width: 768px) {
      width: 364px;
    }
  }

  &__form-input--last {
    margin-bottom: 4px;
  }

  &__remark {
    margin-bottom: 25px;

    color: #7E7E7E;

    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }

  &__form-radio_wrapper {
    width: 100%;

    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    margin-bottom: 47px;
  }

  &__form-radio_title {
    margin: 0;
    margin-bottom: 11px;
  }

  &__form-radio_option {
    position: relative;
    margin: 0;
    margin-right: 12px;

    height: 20px;
    width: 20px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid #D0CFCF;
    border-radius: 50%;

    outline: none;
    cursor: pointer;

    &:checked {
      background-color: #fff;
      border-color: #00BDD3;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;

        border-radius: 50%;
        background-color: #00BDD3;
      }
    }
  }

  &__form-radio_optionWrapper {
    display: flex;
    align-items: center;
  }

  &__form-imgUploadWrapper {
    margin-bottom: 50px;
  }

  &__form-imgUpload {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    width: 328px;

    @media (min-width: 768px) {
      width: 380px;
    }
  }

  &__form-customInput {
    display: flex;
    width: 328px;

    @media (min-width: 768px) {
      width: 380px;
    }
  }

  &__form-customInput_button {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 15px;

    border: 1px solid #000;
    border-radius: 4px 0px 0px 4px;

    cursor: pointer;
  }

  &__form-customInput_field {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;

    border: 1px solid #D0CFCF;
    border-radius: 4px 0px 0px 4px;
    width: 328px;
    color: #7E7E7E;

    @media (min-width: 768px) {
      width: 380px;
    }
  }

  &__success-message {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    padding: 100px;

    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(152, 136, 122, 0.5);
    z-index: 1;
  }
}

.input-error {
  border: 1px solid #CB3D40;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
